@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face{
  font-family: AnonymousPro;
  src:  url('fonts/AnonymousPro/AnonymiceProNerdFont-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

:root{
  --bg-color: #282828;
  --bg-h-color: #1d2021;
  --bg-s-color: #32302f;

  --fg-color: #ebdbb3;
  --fg-h-color: #fbf1c7;
  --fg-s-color: #a89984;

  --red-color: #cc241d;
  --red-light-color: #fb4934;

  --green-color: #98971a;
  --green-light-color: #b8bb26;

  --yellow-color: #d79921;
  --yellow-light-color: #fabd2f;

  --blue-color: #458588;
  --blue-light-color: #83a598;

  --purple-color: #b16286;
  --purple-light-color: #d3869b;

  --aqua-color: #689d6a;
  --aqua-light-color: #8ec07c;

  --gray-color: #928374;
  --gray-light-color: #a89984;

}

*, ::after, ::before{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: 'AnonymousPro', monospace;
}
 /* Estilando el nav principal*/
.main-nav {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 25px auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  & ul:first-child{
    justify-content: flex-start;
    & li:first-of-type{
      font-size: 2em;
      /*opacity: 100%;*/
      color: var(--fg-color);
    }
  } 


  & ul:last-child{
    justify-content: flex-end;
  } 

  & img{
    height: 1em;
    aspect-ratio: auto;
    vertical-align: sub;
  }

  & li{
    /*opacity: 50%;*/
    color: var(--fg-s-color);
    padding: 10px;

    &:hover{
      /*opacity: 100%;*/
      color: var(--fg-h-color);
      cursor: pointer;
    }
  }
}

.select-time{
  background-color: var(--bg-h-color);
  box-sizing: border-box;
  width: 80%;
  max-width: 960px;
  margin: 20px auto;
  padding: 0px 20px;
  font-size: .8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;

  & input{
    display: none;
  }
  & label{
    color: var(--fg-s-color);
    padding: 10px;

    &:hover{
      color: var(--fg-h-color) !important;
      cursor: pointer;
    }

    &:has( input[type='radio']:checked){
      color: var(--yellow-color);
    }
  }
}

.game{
  box-sizing: border-box;
  width: 90%;
  max-width: 1080px;
  height: 10000px;
  max-height: 66vh ;
  margin: 20px auto;
  font-size: 1.5em;
  /*display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;*/
  overflow: hidden;
  
  & .playground{
    max-height: 60%;
    padding: 5px;
    overflow:hidden;
  }

  & > *{
    color: var(--fg-s-color)
  }

  st-letter.right{
    color: var(--fg-h-color);
  }

  st-letter.wrong{
    color: var(--red-color);
  }

  st-word.wrong{
    text-decoration: underline;
    text-decoration-color: var(--red-light-color);
  }
  st-letter.active{
    position: relative;

    &::before{
      font-size: larger;
      content: '|';
      position: absolute;
      right: 50%;
      top: -15%;
      color: var(--yellow-color);
      animation: blink .5s ease-in-out infinite;
    }

    &.end::before{
      left: 50%;
    }

  }

  .tiempo{
    color: var(--yellow-light-color)
  }

  & input[type='text']{
    position: absolute;
    opacity: 0;
    top: -200px;
  }

  & .message{
    margin-top: 20px ;
    color: var(--fg-s-color);
    text-align: center;
    font-size: .8em;

    & button{
      border: none;
      background-color: transparent;
      font-family: 'AnonymousPro', monospace;
      font-size: 1em;
      color: inherit;
    }
  }
  
}

.modal{
  box-sizing: border-box;
  max-height: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  font-family: 'AnonymousPro', monospace;
  background-color: var(--bg-color);
  color:var(--fg-color);
  border: none;

  & button , & button:focus-visible{
    border: none;
    font-size:  2em !important;
    background-color: transparent;
    font-family: 'AnonymousPro', monospace;
    font-size: 1em;
    color: inherit;
    position: absolute;
    right: .5em;
    top: .5em;
  }

  & button:hover{
    color: var(--yellow-light-color);
    
  }

  & h2, p{
    margin-bottom: 1em;
  }

  & h2{
    color: var(--fg-s-color)
  }

  & a{
    color: var(--fg-h-color);
  }  

  &::backdrop{
    background-color: var(--bg-h-color);
    opacity: .8;
  }
}


@keyframes blink {
  0%, 100%{
    opacity: 100%;
  }

  33%{
    opacity: 0%;
  }
  
}